@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-bg-color: #d1d6d7; /* Light theme header background color */
  --footer-bg-color: #d1d6d7; /* Light theme footer background color */
  --text-color: #292929; /* Light theme text color, slightly off-black for softer contrast */
  --background-image: url("/background-theme-light.webp"); /* Light theme background image */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0; /* Dark theme gradient start color */
    --background-end-rgb: 23, 25, 35; /* Dark theme gradient end color */
    --accent-color-rgb: 48, 209, 88; /* Brighter green for dark theme buttons and accents */
    --secondary-color-rgb: 10, 132, 255; /* Bright blue for dark theme secondary accents or links */
  }
}

/* Dark theme styles */
[data-theme="dark"] {
  --header-bg-color: #27272a; /* Dark theme header background color */
  --footer-bg-color: #27272a; /* Dark theme footer background color */
  --text-color: #ffffff; /* Dark theme text color */
  --background-image: url("/background-theme-dark.webp"); /* Dark theme background image */
}

body {
  color: var(--text-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .accent-color {
    color: rgb(var(--accent-color-rgb));
  }
  .secondary-color {
    color: rgb(var(--secondary-color-rgb));
  }
}
