.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  position: relative;
}

.userSectionWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.dashboardContent {
  display: flex;
  flex-grow: 1;
}

.dashboardNav {
  width: 300px;
  padding: 20px;
  background-color: var(--form-bg-color);
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  margin-bottom: 10px;
}

.navLink {
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text-color);
  padding: 10px;
  border-radius: 4px;
}

.navLink:hover {
  background-color: var(--accent-color-hover);
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  background-color: var(--form-bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

@media (max-width: 768px) {
  .dashboard {
    padding: 10px;
  }

  .dashboardContent {
    flex-direction: column;
  }

  .dashboardNav {
    width: 100%;
    margin-bottom: 20px;
  }

  .mainContent {
    margin-left: 0;
  }

  .userSectionWrapper {
    justify-content: center;
  }
}
