.userSection {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  z-index: 1000;
}

.userPhoto {
  border-radius: 50%;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.userInfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userName {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  color: #000;
}

.userEmail {
  margin: 0;
  font-size: 14px;
  color: #333;
}
