.signInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.signInText {
  margin-bottom: 1rem;
  font-family: "Cabin", sans-serif;
}
