.outerContainer {
  display: flex;
  justify-content: center;
  padding: 0 3rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

.innerContainer {
  max-width: 82.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.125rem;
}

.contentContainer {
  max-width: 46.875rem;
  width: 100%;
  text-align: justify;
}

.sectionHead {
  font-size: 2.8125rem;
  line-height: 3.125rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
  text-align: center;
}

.sectionText {
  color: var(--text-color);
  margin: 2.3rem 0;
  font-size: 1.5rem;
  line-height: 1.6875rem;
}
.link {
  font-weight: 600;
  color: var(--accent-color);
}

.link:hover {
  color: var(--accent-color-hover);
  text-decoration: underline;
}

@media (max-width: 480px) {
  .sectionText {
    font-size: 1.1rem;
  }
}
