/* Container Styles */
.outerContainer {
  display: flex;
  justify-content: center;
  padding: 0 3rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

.innerContainer {
  max-width: 82.5rem; /* 1320px */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.125rem; /* 50px */
}

/* Content Styles */
.contentContainer {
  max-width: 46.875rem; /* 750px */
  width: 100%;
  text-align: justify;
}

.sectionHead {
  font-size: 2.8125rem; /* 45px */
  line-height: 3.125rem; /* 50px */
  font-weight: 700;
  margin-bottom: 0.625rem; /* 10px */
  text-align: center;
}

.sectionText {
  color: var(--text-color);
  margin-top: 2.3rem; /* 25px */
  font-size: 1.125rem; /* 18px */
  line-height: 1.6875rem; /* 27px */
}

.link {
  font-weight: 600;
  color: #007bff;
}

.link:hover {
  color: #0056b3;
  text-decoration: underline;
}
