/* Home.module.css */
.container {
  /* padding: 2rem; */
  /* min-height: 100vh; Full height */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.heading {
  color: rgb(var(--foreground-rgb));
  font-size: 3rem; /* Moderately large */
  margin-bottom: 1rem; /* Adds spacing at the top */
  text-align: center; /* Centers the heading */
}

.call-to-action {
  background-color: #ff4081; /* Contrasting color */
  border: none;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 2rem; /* Spacing around the button */
  text-align: center; /* Center the text inside the button */
}

.call-to-action:hover {
}

.link {
}

.link:hover {
}
