.yearsContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yearHeading {
  color: var(--text-color);
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.yearButton {
  background-color: var(--year-buttton-bg-color);
  color: var(--year-buttton-text-color);
  padding: 0.75rem 1.5rem;
  font-size: 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  margin: 0.5rem;
  box-shadow: 0px 5px 15px rgba(0, 123, 255, 0.2);
}

.yearButton:hover {
  background-color: var(--year-buttton-bg-hover-color);
  box-shadow: 0 3px 10px 0 rgba(0, 118, 255, 0.37);
  transform: scale(1.04);
}

@media (max-width: 480px) {
  .yearButton {
    font-size: 2.4rem;
    padding: 0.5rem 0.75rem;
  }
}
