@keyframes backgroundSlide {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 70% 50%;
  }
  100% {
    background-position: 50% 50%;
  }
}

.layout {
  display: flex;
  flex-direction: column;

  background-image: var(--background-image);
  background-size: cover;
  background-position: 45% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Prevents the zoom in effect on the video uploads page */

  min-height: 100vh;
  /* padding: 1rem; Cool Design idea*/
  animation: backgroundSlide 30s ease-in-out infinite;
}

.mainContent {
  flex: 1;
}

.container {
  min-height: 100vh;
}
