.layout {
  display: flex;
  flex-direction: column;

  background-image: url("/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
  /* padding: 1rem; Cool Design idea*/
}

.mainContent {
  flex: 1;
}

.container {
  min-height: 100vh;
}
