/* Header.module.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d1d6d7;
  /* background-color: #ffffff; */
  /* background-color: #CDD2D3; */
  /* background-color: #C7CCCD; */
  /* background-color: #BFC4C5; */
  /* background-color: #B8BDBE; */
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.logoContainer {
  cursor: pointer;
  display: flex;
}

.nav {
  display: flex;
}

.navList {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navItem {
  margin-left: 2rem;
}
