.LessonContainer {
  box-sizing: border-box;
  padding: 1.5rem;
}

@media screen and (max-width: 768px) {
  .LessonContainer {
    padding: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .LessonContainer {
    padding: 0.5rem;
  }
}
