.tab {
  flex: 1;
  display: flex;
  justify-content: center; /* Center the button text */
  align-items: center; /* Vertically center the button */
}

.tabButton {
  flex: 1; /* Button should fill the entire tab */
  padding: 1rem 1rem;
  cursor: pointer;
  background: transparent;
  color: var(--button-text-color);
  border: none;
  transition: background-color 0.3s;
}

.tabButton:hover {
  color: var(--remove-question-btn-hover-color);
}

.activeTab {
  background-color: var(
    --accent-color
  ); /* Use global variable for active tab background */
  color: var(--text-color);
}

.removeQuestionBtn {
  display: inline-block;
  padding-right: 0.8rem;
  line-height: 2rem;
  font-size: 1.5rem;
  color: var(--text-color);
  border: none;
  cursor: pointer;
}

.removeQuestionBtn:hover {
  color: var(--remove-question-btn-hover-color);
}
