.formContainer {
  background-color: var(--form-bg-color);
  color: var(--text-color);
  padding: 20px;
  border-radius: 8px;
  max-width: 900px;
  margin: 3rem auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #95a5a6; /* Consistent with tabButton */
  border-radius: 8px 8px 0 0; /* Rounded top corners */
}

.tabButton,
.addButton {
  padding: 10px 15px;
  cursor: pointer;
  background: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  transition: background-color 0.3s;
}

.tabButton:hover,
.addButton:hover {
  background-color: var(
    --button-hover-bg-color
  ); /* Use global variable for hover state */
}

.tabButton {
  flex: 1; /* Button should fill the entire tab */
  background: transparent;
  color: white;
  border: none;
  transition: background-color 0.3s;
}

.inactiveTab {
  background: #95a5a6; /* Light grey background for default tabs */
  /* Other styles for inactive tabs */
}

.tab {
  flex: 1;
  display: flex;
  justify-content: center; /* Center the button text */
  align-items: center; /* Vertically center the button */
}

.activeTab,
.tabContent {
  background-color: var(
    --accent-color
  ); /* Use global variable for active tab and content background */
  color: var(--text-color); /* Use global variable for text color */
}

.removeQuestionBtn {
  display: inline-block;
  padding: 0 8px;
  line-height: 32px;
  font-size: 16px;
  background-color: #95a5a6; /* Same as tabButton for consistency */
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
}

.tabContent {
  padding: 20px;
  border-radius: 0 0 8px 8px; /* Rounded bottom corners */
  margin-top: -1px; /* Aligns seamlessly with tabs */
}

.submitButton {
  display: block;
  width: calc(100% - 40px); /* Adjusts width considering padding */
  padding: 10px 20px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.submitButton:hover {
  background-color: var(--button-hover-bg-color);
}
